{% extends 'base.html' %}

{% block head %}
<title>OUTPUT:Decision Support system proof of concept</title>
{% endblock %}



{% block body %}

<h1>Outbreak_api_DEV Branch mergiing</h1>
<p></p>
<p><strong>สำหรับการใช้งานให้ยิง Input JSON ตามแนวทางด้านล่าง (มีตัวอย่างด่านล่าง) ด้วย POST Request เข้ามาที่ URL นี้เลยครับ โดยตรวจสอบให้แน่ใจว่ามี '/covid19' อยู่ด้านหลัง</strong>
<p></p>
<p></p>
<p>สำหรับแนวทางการจัดกลุ่มความเสี่ยงต้นฉบับ ดู XLSX file ใน static</p>
<p></p>
<h3>Github link</h3>
<p><a href="https://github.com/raynus/outbreak_api">Outbreak API github</a></p>

<h1>Input (JSON)</h1>
<h3>JSON  ที่ส่งเข้ามา ต้องมี input ครบทุกตัว</h3>
<p><strong>fever: (numeric/float)</strong></p>
<ul>
<li>คำถาม = มีไข้สูง 37.5 องศา (Celsius) ขึ้นไป หรือ รู้สึกว่ามีไข้</li>
<li>ตัวเลขอุณหภูมิ ให้ใส่ตามจริง</li>
<li>ในกรณีรู้สึกว่ามีไข้ ให้ใส่ตัวเลข 37.5</li>
<li>หากรู้สึกว่าไม่มีไข้หรือไม่ทราบอุณหภูมิ ใหใส่ 0</li>
<li>Example : 37.55</li>
</ul>
<p><strong>one_uri_symp: (string "0"/"1")</strong></p>
<ul>
<li>คำถาม = มีอาการอย่างหนึ่งในนี้  ( ไอ เจ็บคอ หอบเหนื่อยผิดปกติ มีน้ำมูก )</li>
<li>ถ้ามีอาการอย่างใดอย่างหนึ่งให้ใส่ "1"</li>
</ul>
<p><strong>travel_risk_country: (string)</strong></p>
<ul>
<li>คำถาม = มีประวัติเดินทางไปประเทศกลุ่มเสี่ยงในช่วง 14 วันก่อน .</li>
<li>ให้ใช้ Country code ISO 3166-1 alpha-2 ความยาวสองตัวอักษรมาหนึ่งประเทศ</li>
<li>ดูรายชื่อประเทศเสี่ยงด้วย route'/covid19/factors' /</li>
<li>Example: 'CN' for China, 'TH' for Thailand
For country code see the link below
<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" rel="nofollow">https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2</a></li>
</ul>
<p><strong>covid19_contact: (string "0"/"1")</strong></p>
<ul>
<li>คำถาม = อยู่ใกล้ชิดกับผู้ป่วยยืนยัน COVID-19 (ใกล้กว่า 1 เมตร นานเกิน 5 นาที) ในช่วง 14 วันก่อน  หรือ ไปสนามมวยลุมพินี  หรือ ผับที่มีการพบผู้ติดเชื้อ</li>
<li>Example: "1" for yes</li>
</ul>
<p><strong>close_risk_country: (string "0"/"1")</strong></p>
<ul>
<li>คำถาม = บุคคลในบ้านเดินทางไปประเทศกลุ่มเสี่ยง ในช่วง 14 วันก่อน</li>
<li>ดูรายชื่อประเทศเสี่ยงด้วย route'/covid19/factors' /</li>
<li>Example: "1" for yes</li>
</ul>
<p><strong>int_contact: (string "0"/"1")</strong></p>
<ul>
<li>คำถาม = ประกอบอาชีพใกล้ชิดกับชาวต่างชาติ</li>
<li>Example "1" for yes</li>
</ul>
<p><strong>med_prof: (string "0"/"1")</strong></p>
<ul>
<li>คำถาม = เป็นบุคลากรทางการแพทย์</li>
<li>Example "1" for yes</li>
</ul>
<p><strong>close_con: (string "0"/"1")</strong></p>
<ul>
<li>คำถาม = มีผู้ใกล้ชิดป่วยเป็นไข้หวัดพร้อมกัน มากกว่า 5 คน ในช่วง 14 วันก่อน</li>
<li>Example "1" for yes</li>
</ul>
<h1>Return (JSON)</h1>
<p><strong>gen_action (string)</strong></p>
<ul>
<li>General recommendation e.g. wash your hand.
(เป็นคำแนะนำกว้างๆ ในการปฏิบัติตัว)</li>
</ul>
<p><strong>spec_action (string)</strong></p>
<ul>
<li>More specific recommendation on what you should do.
(คำแนะนำที่เฉพาะเจาะจงกับตัวเลือกมากขึ้น)</li>
</ul>
<p><strong>risk_level (string)</strong></p>
<ul>
<li>1-4 (4 is the highest risk level, 1 is the lowest)
ระดับความเสี่ยง 1 (ต่ำสุด) - 4 (สูงสุด)</li>
</ul>
<h1>Example</h1>
<h3>Input JSON to /covid19</h3>
<p>{"fever":"37.55","one_uri_symp":"1","travel_risk_country":"SG","close_con":"1","covid19_contact":"0","close_risk_country":"0","int_contact":"0","int_contact":"0","med_prof":"0"}</p>
<h3>Return JSON</h3>
<p>{
"gen_action": "ล้างมือ สวมหน้ากาก หลีกเลี่ยงที่แออัด",
"risk_level": "4",
"spec_action": "ให้ติดต่อสถานพยาบาลทันที"
}</p>
<h1>Other route</h1>
<h3>'/covid19/rules'</h3>
<p>Return all JSON rules from Mongodb
(ดึงฐานข้อมูล protocol ที่ใช้ในการจัดกลุ่ม และคำแนะนำทั้งหมด)</p>
<h3>'/covid19/factors'</h3>
<p>Return all other risk factors and other configuration e.g. Fever temperature threshold and risk countries list<br>
(รหัสประเทศเสี่่ยง)</p>
<ul>
<li>Example
{
"RISK_COUNTRIES":['DE','CN','IT','KR','IR','FR','ES','US','CH','NO','JP','DK','NL','SE','UK'],
"FEVER_THRESHOLD":37.5
}</li>
</ul>




{% endblock %}
